# Terraform関連ファイル
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# プランファイル
*.tfplan
tfplan
plans/

# stateファイル
state/
state*.txt

# クラッシュログ
crash.log
crash.*.log

# CLI設定ファイル
.terraformrc
terraform.rc

# その他
.DS_Store
*.local
*.org